<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cchcz.blog.dao.mapper.BizKvMapper">
    <resultMap id="rm" type="com.cchcz.blog.dao.beans.BizKv">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="pkey" jdbcType="VARCHAR" column="pkey"/>
        <result property="pvalue" jdbcType="VARCHAR" column="pvalue"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap>
    <sql id="Base_Column_List">
		id,
		pkey,
		pvalue,
		create_time,
		update_time
	</sql>

    <select id="findPageBreakByCondition" parameterType="com.cchcz.blog.model.vo.KvConditionVO"
            resultMap="rm">
        SELECT
        t.*
        FROM
        biz_kv t
        WHERE
        1 = 1
        <if test="pkey != null">
            AND t.pkey = #{pkey}
        </if>
        <if test="id != null">
            AND t.id = #{id}
        </if>
    </select>
</mapper>

