<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cchcz.blog.dao.mapper.SysAttachMapper">
    <resultMap id="BaseResultMap" type="com.cchcz.blog.dao.beans.SysAttach">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="fname" jdbcType="VARCHAR" property="fname"/>
        <result column="ftype" jdbcType="VARCHAR" property="ftype"/>
        <result column="fkey" jdbcType="VARCHAR" property="fkey"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="author_id" jdbcType="INTEGER" property="authorId"/>
        <result column="created" jdbcType="INTEGER" property="created"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, fname, ftype, fkey,status, author_id, created
  </sql>
    <select id="findPageBreakByCondition" parameterType="com.cchcz.blog.model.vo.SysAttachConditionVO"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        sys_attach s
        where
        1 = 1
        <if test="sysAttach != null">
            <if test="sysAttach.id!=null">
                AND s.id = #{sysAttach.id}
            </if>
            <if test="sysAttach.fname!=null">
                AND s.fname = #{sysAttach.fname}
            </if>
            <if test="sysAttach.ftype!=null">
                AND s.ftype = #{sysAttach.ftype}
            </if>
            <if test="sysAttach.fkey!=null">
                AND s.fkey = #{sysAttach.fkey}
            </if>
            <if test="sysAttach.status!=null">
                AND s.status = #{sysAttach.status}
            </if>
            <if test="sysAttach.authorId!=null">
                AND s.author_id = #{sysAttach.authorId}
            </if>
            <if test="sysAttach.created!=null">
                AND s.created = #{sysAttach.created}
            </if>
        </if>
        GROUP BY
        s.id
        ORDER BY
        s.created DESC
    </select>
</mapper>