<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cchcz.blog.dao.mapper.SysSequenceMapper">
    <resultMap id="BaseResultMap" type="com.cchcz.blog.dao.beans.SysSequence">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="DECIMAL"/>
            <arg column="tag" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="cur_value" javaType="java.lang.Integer" jdbcType="DECIMAL"/>
            <arg column="offset" javaType="java.lang.Integer" jdbcType="DECIMAL"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id,tag,cur_value,offset,update_time
    </sql>
    <update id="updateCAS" parameterType="java.util.HashMap">
        update sys_sequence
        <set>
            <if test="tag_new != null">
                tag = #{tag_new,jdbcType=VARCHAR} ,
            </if>
            <if test="curValue_new != null">
                cur_value = #{curValue_new,jdbcType=DECIMAL} ,
            </if>
            <if test="offset_new != null">
                offset = #{offset_new,jdbcType=DECIMAL} ,
            </if>
            <if test="updateTime_new != null">
                update_time = #{updateTime_new,jdbcType=TIMESTAMP} ,
            </if>
        </set>
        where 1=1
        <if test="id != null ">
            and id = #{id,jdbcType=DECIMAL}
        </if>
        <if test="tag != null ">
            and tag = #{tag,jdbcType=VARCHAR}
        </if>
        <if test="curValue != null ">
            and cur_value = #{curValue,jdbcType=DECIMAL}
        </if>
        <if test="offset != null ">
            and offset = #{offset,jdbcType=DECIMAL}
        </if>
        <if test="updateTime != null ">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
    </update>
</mapper>

