<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cchcz.blog.dao.mapper.VisitorRankMapper">
    <resultMap id="rm" type="com.cchcz.blog.dao.beans.BizVisitorRank">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="continent" jdbcType="VARCHAR" column="continent"/>
        <result property="country" jdbcType="VARCHAR" column="country"/>
        <result property="provice" jdbcType="VARCHAR" column="provice"/>
        <result property="city" jdbcType="VARCHAR" column="city"/>
        <result property="num" jdbcType="BIGINT" column="num"/>
    </resultMap>
    <sql id="Base_Column_List">
		id,
	    continent,
	    country,
	    provice,
	    city,
	    num
	</sql>
</mapper>

